<table class="table table-bordered sequencer">
    <thead>
    <tr>
        <td>&nbsp;</td>
        <td colspan="{{ keyframes.length }}" class="waveform_container"><div id="waveform"></div></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td ng-if="song.Offset > 0" colspan="{{ song.Offset }}">&nbsp;</td>
        <td colspan="{{ framesPerBeat }}" ng-repeat-start="i in measures">{{ i }}</td>
        <td colspan="{{ framesPerBeat }}"></td>
        <td colspan="{{ framesPerBeat }}"></td>
        <td colspan="{{ framesPerBeat }}" ng-repeat-end></td>
        <td colspan="{{ (keyframes.length - song.Offset) % (4*framesPerBeat) }}"></td>
        <td>&nbsp;</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="led in leds">
        <td>{{ led.Name }}</td>
        <td ng-repeat="frame in keyframes" style="{{ keyframeStyle(led, frame) }}" ng-click="toggleLed(led, frame)"></td>
        <td>&nbsp;</td>
    </tr>
    </tbody>
</table>

Offset: <input type="text" ng-model="timestampOffset" />
<br>
Width: <input type="text" ng-model="width" />